/scripts/node_modules/*
/myenv/*
env/
/degenhive_ai_agents/smart_agents/__pycache__/*
/degenhive_ai_agents/smart_agents/persona/__pycache__/*
/degenhive_ai_agents/smart_agents/persona/cognitive_modules/__pycache__/*
*/__pycache__/*
*.pyc
*.pyc
degenhive_ai_agents/smart_agents/__pycache__/global_methods.cpython-312.pyc
*.pyc
degenhive_ai_agents/smart_agents/utils.py
discord_bot/*
/.env
degenhive_ai_agents/discord_bot/referralCodes.csv
degenhive_ai_agents/discord_bot/config.json

*.png